<div>
 <app-header  />


 <div class="Hero">
    <div class="heroInfo">
        <h1>Find Clothes that matches your style</h1>
        <p>Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
    
        <div class="hero-btn">
            <p>Shop Now</p>
        </div>
    
        <div class="heroSpan">
            <div class="heroTag first">
                <span>200+</span>
                <p>International Brands</p>
            </div>
        
            <div class="heroTag second">
                <span >2,000+</span>
                <p>High-Quality Products</p>
            </div>
        
            <div class="heroTag third">
                <span>30,000+</span>
                <p>Happy Customers</p>
            </div>
        </div>
     </div>    

     <div class="heroImg">
        <img class="HeroImage" src="assets/images/HeroMobile.png" alt="mobile hero image"  />
        <img class="starSmall" src="assets/images/StarOne.png" alt="star image" />
        <img class="starLarge" src="assets/images/StarTwo.png" alt="star image" />
     </div>
</div>



<div class="carousell">
    
    
    <img  src="assets/images/CalvKleinlogo.png" alt="versace logo" />
    <img  src="assets/images/ZaraLogo.png" alt="zara logo"  />
    <img  src="assets/images/GucciLogo.png" alt="gucci logo" />
    <img  src="assets/images/Pradalogo.png" alt="prada logo" />
    <img  src="assets/images/CalvKleinlogo.png" alt="calvin klein logo" />
</div>

  <div>
    <h1>New Arrivals</h1>
  </div>

</div>
